<div class="demo-container">
  <div class="placeholder">Top Content</div>
  <dx-data-grid
    id="grid-container"
    [dataSource]="dataSource"
    [showBorders]="true"
    [columnWidth]="100"
    [allowColumnResizing]="true"
  >
    <dxo-data-grid-load-panel [enabled]="true"></dxo-data-grid-load-panel>
    <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
    <dxo-data-grid-sorting mode="none"></dxo-data-grid-sorting>
    <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>
    <dxi-data-grid-column
      dataField="firstName"
      [fixed]="true"
      width="80"
      fixedPosition="left"
    ></dxi-data-grid-column>
    <dxi-data-grid-column dataField="lastName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="supervisor"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="startedDate"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="position"></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="gender"
      [fixed]="true"
      width="80"
      fixedPosition="right"
    ></dxi-data-grid-column>
    <dxi-data-grid-column dataField="birthDate"></dxi-data-grid-column>
  </dx-data-grid>
  <div class="placeholder">Bottom Content</div>
</div>
